@page
@model App.Pages.Feed2

@{
    Layout = "Shared/_Layout";
}

@* @foreach (var posts in  Model.Posts) *@
@* { *@
@*     <h1>@posts.PostText</h1> *@
@*     <h1>@posts.PostedAt</h1> *@
@*     <h1>@posts.PostHeader</h1> *@
@* } *@