@page
@model App.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>Privacy Notice</h2>
<p>
MySite is committed to protecting the privacy of our customers, and we take our data protection responsibilities with the utmost seriousness.
This Privacy Notice describes how Binance collects and processes your personal information through the Binance websites and applications that reference this Privacy Notice. Binance refers to an ecosystem comprising Binance websites (whose domain names include but are not limited to www.binance.com/ru), mobile applications, clients, applets and other applications that are developed to offer Binance Services, and includes independently-operated platforms, websites and clients within the ecosystem (e.g., Binance’s Open Platform, Binance Launchpad, Binance Labs, Binance Charity, Binance DEX, Binance X, JEX, and fiat gateways). “Binance Operators” refer to all parties that run Binance, including but not limited to legal persons, unincorporated organizations and teams that provide Binance Services and are responsible for such services. “Binance” as used in this Privacy Notice includes Binance Operators.
This Privacy Notice applies to all Personal Information processing activities carried out by us, across platforms, websites, and departments of Binance and Binance Operators.
To the extent that you are a customer or user of our services, this Privacy Notice applies together with any terms of business and other contractual documents, including but not limited to any agreements we may have with you.
To the extent that you are not a relevant stakeholder, customer or user of our services, but are using our website, this Privacy Notice also applies to you together with our Cookie Notice.
This Notice should therefore be read together with our Cookie Notice, which provides further details on our use of cookies on the website. Our Cookie Notice can be accessed here.
1. Binance Relationship with you
Binance (Services Holdings) Limited, a company registered at 6th Floor, South Bank House, Barrow Street, 4 Dublin, Ireland, is the data controller for personal information collected in connection with provision of Binance services in Europe.
However, depending on your place of legal residence certain other Binance entities could be involved in processing activities such as Know Your Customer (“KYC”) activities which are necessary for us to provide Services to you. For example, if you are resident in France, Binance France SAS, is responsible for running KYC checks. These Binance entities could act as Controllers of your personal information and use it in accordance with this Privacy Notice.
2. What Personal Information does Binance collect and process? Why does Binance process my personal information ? What are the legal basis for our use of personal information?

</p>
